[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[core]
    pager = delta
    editor = /opt/homebrew/bin/nvim
	excludesfile = /Users/masato/.gitignore_global

[pager]
    tag = false

[user]
    name = Masato Furuta
    email = 50264750+masato1983@users.noreply.github.com
	signingkey = /Users/masato/.ssh/macmini.pub

[init]
    defaultBranch = main

[includeIf "gitdir:~/Glide/"]
    path = ~/Glide/.gitconfig

[includeIf "gitdir:~/Glide/documents/"]
    path = ~/Glide/documents/.gitconfig

[includeIf "gitdir:~/Glide/library/"]
    path = ~/Glide/library/.gitconfig

[includeIf "gitdir:~/Glide/personal/"]
    path = ~/Glide/personal/.gitconfig

[includeIf "gitdir:~/Glide/projects/"]
    path = ~/Glide/projects/.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    syntax-theme = Catppuccin-mocha
    navigate = true
    features = decorations
    side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = blue
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = blue
    hunk-header-style = line-number syntax
    line-numbers-minus-style = red
    line-numbers-zero-style = gray
    line-numbers-plus-style = green

[diff]
    tool = vscode
    colorMoved = default

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode
    confilictstyle = diff3

[mergetool "vscode"]
	cmd = code --wait $MERGED

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[coderabbit]
	machineId = cli/d0b05ac614494da1bded6e1dba5962a8
